body { 
	font: 14px/1.4 'Open Sans', Arial; 
}
.form iframe{ 
	width:40%; 
	height:1400px;
	display:block;
	float: left;
}
.main { 
	width:50%; 
	height:1400px;
	display:block;
	float: left;
}
.content_wrapper { 
	width: 90%; 
	margin: auto;
}
.route_top { 
	width:95%; 
	height:122px;
	display:block;
	float: left;
	background-color: #FFFFFF;
	padding-left: 5%;
}
.route_top h3 {
	color: #000000;
	padding-top: 30px;
	font-size: 1.6em; 
}
.motorista_info h4 {
	font-size: 1.4em;
}
.motorista_pic { 
	width:45%; 
	height:270px;
	display:block;
	float: left;
	background-color: rgb(250, 250, 250);
	padding-left: 5%;
	padding-top: 30px;
}
.motorista_info { 
	width:50%; 
	height:270px;
	display:block;
	float: left;
	background-color: rgb(250, 250, 250);
	padding-left: 0px;
	padding-top: 30px;
}
.map { 
	width:100%; 
	height:450px;
	display:block;
	float: left;
	background-color: rgb(250, 250, 250);
}
h2{
 	font-size: 1.4em;
 	font-weight: 700;
 }
 h3{
 	font-size: 1.2em;
 	font-weight: 700;
 }
 h1 {
 	font-size: 1.6em;	
 	font-weight: 700;
 	color: #FFFFFF;
 }
 a {
 	color: #FFFFFF;
 	text-decoration: none;
 }