.form iframe{ 
width:40%; 
height:1400px;
display:block;
float: left;
}
.main { 
width:50%; 
height:1400px;
display:block;
float: left;
}
.topo { 
width:100%; 
height:122px;
display:block;
float: left;
background-color: rgb(158, 158, 158);
}
.moorista { 
width:100%; 
height:300px;
display:block;
float: left;
background-color: #ede7f6;
}
.map { 
width:100%; 
height:300px;
display:block;
float: left;
background-color: #ede7f6;
}
